<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.access1"
    android:versionCode="1"
    android:versionName="1.5">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.access1.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".activity.InformationInputActivity"></activity>
        <activity android:name=".activity.InfoInputTeacherActivity"></activity>
        <activity android:name=".activity.GetVisitLogActivity"></activity>
        <activity android:name=".activity.VisitLogDetailActivity"></activity>
        <activity android:name=".activity.ApplyHandleActivity"></activity>
        <activity android:name=".activity.GetApplyActivity"></activity>
        <activity android:name=".activity.RecognizeResultActivity"></activity>
        <activity android:name=".activity.RecognizeActivity"></activity>
        <activity android:name=".activity.BaseActivity"></activity>
        <activity
            android:name=".activity.sRecognizeTestActivity"
            android:launchMode="singleTop"></activity>
        <activity android:name=".activity.sInfoInputApply"></activity>
        <activity android:name=".activity.sBrokenLogActivity"></activity>
        <activity android:name=".activity.BrokenLogActivity"></activity>
        <activity
            android:name=".activity.sFeedBackActivity"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity
            android:name=".activity.sChangePwdActivity"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity android:name=".activity.sInformationInputActivity"></activity>
        <activity
            android:name=".activity.sMainActivity"
            android:launchMode="singleTask"
           ></activity>
        <activity android:name=".activity.BrokenLogDetailActivity"></activity>
        <activity android:name=".activity.sInfoInputStudentActivity"></activity>
        <activity android:name=".activity.sInfoInputRelativeActivity"></activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity
            android:name=".activity.ChangePwdActivity"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity android:name=".activity.ManageObjectActivity"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
           ></activity>
        <activity android:name=".activity.HaveToolBarActivity"></activity>
        <activity android:name=".activity.sBrokenLogDetailActivity"></activity>
    </application>

</manifest>